[alias]
	s = status 
[core]
	editor = vim
[includeIf "gitdir:~/company/"]
  path = .gitconfig-company
[init]
	defaultBranch = main
[user]
	email = kim.ae09@gmail.com
[pull]
	rebase = true
[push]
	autoSetupRemote = true